*{
    box-sizing: border-box;
}

body{
    background-image: url(fondo-pagina.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    
    margin-top: 25px;


}

.contenedor{

    margin-left: auto;
    margin-right: auto;    

    width: 100%;
    max-width:1980px;
    min-width: 520px;

    height: auto;  

    overflow: visible;
    background-color: pink;   
 
}

.portada{
    height:40rem;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.portada #portada{
    position: relative;
    z-index: 2;
    height:40rem;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.portada #foto-mia{
    position: absolute;
    z-index: 7;
    top: 430px;

    left: 50%;
    margin-left: -100px;
    height:200px;
    width: 200px;


        overflow: hidden;

   
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    background-color: orange;
}

.cajatexto2{
   position: relative;
    width: 100%;
    height: 40rem;
    
    padding-top: 25px;

    background-color: rgb(255, 255, 255);
}

.contactos{
    margin-left: auto;
    margin-right: auto;

    width:80%;    
    min-width: 430px;
    height: auto;   

    overflow: hidden;  /*Quita ese bug del height*/

    background-color: transparent;
}


.caja{
    position: relative;

    left: 10%;
    width: 25%;
    height: 150px;  
    width: 25%;
    min-width: 420px;
    
    margin-left: 10px;
 
    margin-bottom: 20px;
    
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    padding: 0.2em;
   
    

    border-radius: 6px;
    /* border-color: #656668; */
    border-width: 3px;
    border-style: solid;
   
}



#github{
     background-color: gray;
     border-color: #656668;
}



#whatsapp{
    background-color: #25D366;
    border-color: #70ce41;
}

#facebook{
    background-color: #2d4774;
    border-color: #3b5998;
}