*{
    box-sizing: border-box;
}

body{

    
    margin-top: 15px;
    margin: 0px;


}

html{
    height: 100%;   


}

.contenedor{
 
    width: 100%;
    height: 100%;

    overflow: auto;
    background-color: transparent;   
 
}

.portada{
    height:40rem;
    width: 100%;
    background-image: url(programacion.jpg);
    background-repeat: no-repeat;    
    background-size: cover;

}

.portada #foto-mia{
    position: relative;
    z-index: 7;
    top: 430px;

    left: 50%;
    margin-left: -100px;
    height:200px;
       width: 200px;
        overflow: hidden;
   
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    background-color: transparent;
}


.cajatexto2{
   
    width: 100%;
    
    padding-bottom: 20px;

}

.center{
    width: 100%;
    background: white;  /* fallback for old browsers */


    margin-left: auto;
    margin-right: auto;

    padding-top: 20px;
    padding-bottom: 20px;
  
}



.contactos{

    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: 100%; /*Quito el scroll*/  
    max-width: 500px;


    margin-bottom: 30px;

    overflow: hidden;  /*Quita ese bug del height*/

    background-color: transparent;
}


.caja{

    float: left;

    height: 130px;  
    width: 150px;

    padding: 1%;
 

    border-radius: 6px;
    /* border-color: #656668; */
    border-width: 3px;
    border-style: solid;
   
}



#github{
     background-color: gray;
     border-color: #656668;
}



#whatsapp{
    background-color: #25D326;
    border-color: #70ce41;
}

#facebook{
    background-color: #2d4774;
    border-color: #3b5998;
}

.trabajos-lista{
    position: relative;

    width: 100%;
    max-width: 1900px;
    height: 50rem;

    overflow: auto;

    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  

    background-color:   transparent;
}

.trabajos-lista .buscador{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    
    
    width: 100%;
    height: 6rem;

    background-color: transparent;

}

.css-input {
    
    width: 70%;
    height: 100%;
    margin-left: 20px;

    padding: 7px;
    font-size: 2rem;
    border-width: 1px;
    border-color: #1c1b1b;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 6px 2px rgba(66,66,66,.91);

}
.css-input:focus {
    outline:none;
}
.myButton {
    position: relative;
    bottom: 5px;

    width: 20%;
    height: 100%;
    margin-left: 35px;



	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	border-radius:6px;  
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;

    
    outline: none;
}

.myButton:active {
	position:relative;
	top:1px;
}

.trabajos-lista .scroll-trabajos{
    width: 95%;    
    height: auto;    
    
        margin-right: auto;
        margin-left: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10%;
       
        
        overflow: hidden;
    background-color: #6699cc;
}

.scroll-trabajos .trabajo-construye{
    margin-right: 70px;
    margin-bottom: 50px;

    width: 300px;
    height: 280px;

    background-image: url(bannerhtml.jpg);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;

 

    background-color: #fff;
    border-radius: 5px;

    float: left;
    overflow: hidden;
}

.trabajo-construye header{
    position: relative;
    top: 30px;
    left: -20px;
    width: 60%;


    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;

    padding: 1rem;
    text-align: right;

    background-color: lightskyblue  ;
    border-radius: 10px;

}

.trabajo-construye .titulo{
    position: relative;
    top: 50px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;

    padding: 0.2em;

    width: 75%;
    height: auto;

    background-color: gray;

}

@media screen and (max-width: 720px){
.cajatexto2{
           
        padding-bottom: 0px;
    
}


.center{
        width: 100%;

}

.contactos{

    max-width: 310px;

}    

.caja{

    height: 90px;  
    width: 90px;

}

.trabajos-lista .buscador{
        
    width: 100%;
    height: 6rem;

   
}


.css-input {
    margin-left: 10px;
    width: 60%;
}

.myButton {
    padding:6px;
 width: 30%;
 margin-left: 10px;

}
    
}

